$dark: lighten(#121214, 5%);
$yellow: #e4f0a8;
$light-yellow: #f4f4f1;
$steps: 10;
$primary: #0087ff;
$controller_size: 600px;
$radius: 4px;
$easing: cubic-bezier(0.694, 0, 0.335, 1);
$footer-height: 58px;
$yellow: #e4f0a8;
$yellowish-gray: #8F8F8A;
$error: #F0A8A8;
$dark-gray: #1F1F1F;
$mid-gray: #353535;
