@import "variables";
@import "utils";

.containerDirectory {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}
.scrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollBar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.directoryBody {
  padding: 80px;
  padding-top: 140px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  max-width: 1440px;
}
.beatPackItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 20px;
  margin-bottom: 50px;
}
.directoryAlbum {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
}
.directoryItemName {
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  text-align: left;
}
.directoryArtistName {
  font-size: 14px;
  line-height: 19px;
  width: 100%;
  text-align: left;
  margin-top: 5px;
}
.bidItemDirectory {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
}
.editionInfoDirectory {
  font-size: 14px;
  line-height: 18px;
  max-width: 180px;
  word-break: break-all;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.editionInfoDirectory.current {
  max-width: none;
}
.editionPriceDirectory {
  font-size: 14px;
  line-height: 18px;
}
.editionNumber {
}
.editionOwner {
  margin-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}
.currentAuctionTitle {
  font-size: 16px;
  width: 100%;
  text-align: left;
  margin-bottom: 22px;
}
.currentAuctionWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.topPanelWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 100px;
  width: 100%;
}
.beatPackItem > a {
  width: 100%;
}
.currentAuctionInfo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 60%;
}
.currentAuctionDetailsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 40px;
  width: 100%;
}
.currentAuctionPack {
  font-size: 24px;
  text-transform: uppercase;
}
.currentAuctionPic {
  width: 300px;
  height: 300px;
}
.currentAuctionArtist {
  font-size: 18px;
  margin-top: 5px;
}
.auctionExtraInfo {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}
.currentAuctionInfoItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.currentAuctionInfoItemTitle {
  font-size: 14px;
  margin-top: 30px;
  width: 100%;
  text-align: left;
}
.currentAuctionInfoItemText {
  font-size: 14px;
  text-align: left;
  margin-top: 5px;
}
.editionSection {
  border-top: solid 1px #808080;
  padding-top: 36px;
  width: 100%;
  margin-top: 36px;
  max-height: 110px;
  overflow: scroll;
}
.currentAuctionEditionTitle {
  width: 100%;
  text-align: left;
  font-size: 14px;
}
.artistSummary {
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  width: 30%;
  overflow: scroll;
  max-height: 300px;
}
.editionSold {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.boughtFor {
  margin-top: 10px;
}
.editionSoldText {
  font-size: 14px;
  text-align: left;
}
.expandMore {
  height: 8px;
  width: auto;
}
.expandLess {
  transform: rotate(180deg);
}
@media only screen and (max-width: 1000px) {
  .artistSummary {
    display: none;
  }
  .currentAuctionInfo {
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .directoryBody {
    padding: 40px;
    padding-bottom: 100px;
  }
  .currentAuctionInfo {
    flex-wrap: wrap;
  }
  .currentAuctionDetailsWrapper {
    margin-left: 0px;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .currentAuctionDetailsWrapper {
    transform: scale(0.9);
  }
  .currentAuctionPic {
    width: 250px;
    height: 250px;
  }
  .currentAuctionInfo {
    justify-content: center;
  }
  .beatPackItem {
    transform: scale(0.9);
  }
}
