.navBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 80px;
  box-sizing: border-box;
  position: fixed;
  z-index: 5000;
  /* background-color: #1f1f1f; */
  background-color: transparent;
}
.navBar.white {
  background-color: #f2f2f2;
}
.scrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollBar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.logo {
  width: 140px;
  height: auto;
}
.signedInWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wallet {
  width: 19px;
  height: 13px;
}

.navBar.white > .signedInWrapper > .walletOuter > .walletAmount {
  color: #222222;
}
.navBar.white > .signedInWrapper > .walletOuter {
  border: solid 1px #222222;
}
.navBar.white > .signedInWrapper > a > .userName {
  color: #222222;
}
.navBar.white > .walletText {
  color: #1f1f1f;
}
.walletAmount {
  font-size: 12px;
  color: white;
}
.walletOuter {
  border: solid 1px white;
  border-radius: 15px;
  width: 153px;
  max-width: 153px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  transform: scale(0.8);
}
.userName {
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  color: white;
  margin-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.timer.white > div {
  color: #222222;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.timerWrapper {
  z-index: 5001;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: fixed;
  margin-left: 18px;
  margin-top: 80px;
}
.time {
  font-size: 20px;
  line-height: 24px;
  color: white;
}
.nextText {
  margin-top: 3px;
  font-size: 14px;
  color: white;
}
.walletText {
  font-size: 16px;
  line-height: 19px;
  color: white;
}

@media only screen and (max-width: 1100px) {
  .timer {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .signedInWrapper {
    display: none;
  }
  .navBar {
    padding: 20px 40px;
  }
}
@media only screen and (max-width: 400px) {
  .navBar {
    padding: 20px 20px;
  }
}
