@import url("https://fonts.googleapis.com/css?family=Allan");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Rubik:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bentham&display=swap");

$dark: lighten(#121214, 5%);
$yellow: #e4f0a8;
$light-yellow: #f4f4f1;
$steps: 10;
$primary: #0087ff;
$controller_size: 600px;
$radius: 4px;
$easing: cubic-bezier(0.694, 0, 0.335, 1);
$footer-height: 58px;
$yellow: #e4f0a8;
$yellowish-gray: #8F8F8A;
$error: #F0A8A8;
/* #UTILS - START */

.display-large {
  font-size: 48px;
  line-height: 56px;
  font-family: "Bentham", serif;
  text-transform: uppercase;
}

.display-medium {
  font-size: 38px;
  line-height: 44px;
  font-family: "Bentham", serif;
  text-transform: uppercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.body-large {
  font-size: 24px;
  line-height: 28px;
}

.body-medium {
  font-size: 16px;
  line-height: 20px;
}

.white-text {
  color: #fff;
}

.light-yellow-text {
  color: $light-yellow;
}
.yellowish-gray-text {
  color: $yellowish-gray;
}
.yellow-text {
  color: $yellow;
}
.text-center {
  text-align: center;
}

.float-right {
  float: right;
}

/* #UTILS - END */

#main-wrapper {
  position: relative;
  height: 100%;
  background-color: #1f1f1f;
}

#slideshow {
  position: relative;
  height: 100%;
  background-color: #1f1f1f;
}

%abs {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: $footer-height;
  bottom: env(safe-area-inset-bottom);
}

#slides-main {
  @extend %abs;

  &:after {
    content: "";
    @extend %abs;
    background-color: rgba(0, 0, 0, 0.25);
    // z-index: 100;
  }
}

/* #FULLPAGE SLIDESHOW - START */
#slides-main {
  overflow: hidden;
  background-color: #1f1f1f;

  .vslide {
    @extend %abs;
    overflow: visible;
    will-change: transform;
    background-color: #1f1f1f;

    .section-intro-text,
    .details,
    .packTitle {
      opacity: 0;
    }
    &:not(.prev):not(.next):not(.activeSlide) {
      z-index: -1;
      transform: translate3d(0, 200%, 0);
      opacity: 0;
    }

    &.prev {
      z-index: 15;
      transform: translate3d(0, -100%, 0);
      transition: 1s $easing;
      opacity: 1;
    }

    &.activeSlide {
      z-index: 10;
      transform: translate3d(0, 0, 0);
      transition: transform 1s $easing;
      opacity: 1;
    }

    &.next {
      z-index: 5;
      transform: translate3d(0, 100%, 0);
      transition: 1s $easing;
      opacity: 1;
    }

    @at-root #main-wrapper.next & {
      &.final.prev {
        z-index: 15;
        transform: translate3d(0, -188px, 0) !important;
        transition: 1s $easing;
        opacity: 1;
      }
    }

    @at-root #main-wrapper.prev & {
      &:not(.prev):not(.next):not(.activeSlide) {
        transform: translate3d(0, -200%, 0);
      }

      &.prev {
        transform: translate3d(0, 100%, 0);
        z-index: 5;
      }

      &.next {
        transform: translate3d(0, -100%, 0);
        z-index: 15;
      }

      &.transition {
        z-index: 5;
        opacity: 0;
      }
    }
  }
}

.slideshow-footer-container {
  height: 188px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.slide-footer {
   display: flex;
   justify-content: space-between;
   border-top-width: 1px;
   border-top-color: gray;
   border-top-style: solid;
   padding: 32px 64px;
   @media only screen and (max-width: 728px) {
     display: block;
     padding: 32px 20px;

   }
}

.legal-links {
  display: flex;
  gap: 24px;
  a {
    color: #8f8f8a;
  }
  @media only screen and (max-width: 728px) {
  }
}

/* #SLIDESHOW - END */

#faq-wrapper {
}

#faq-slideshow {
}

#faq-slides {
  display: flex;
  gap: 12px;
  align-items: center;
  position: relative;
  height: 60vh;

  &:after {
    content: "";
    background-color: rgba(0, 0, 0, 0.25);
  }
}

/* #FAQs SLIDESHOW - START */
#faq-slides {
  .slide {
    max-width: 800px;
    background-color: rgba(43, 43, 43, 0.75);
    backdrop-filter: blur(104px);
    flex: 0 0 auto;
    position: absolute;
    height: 100%;
    .slide-wrapper {
      padding: 24px;
    }
    .display-medium {
      font-size: 24px;
      line-height: 30px;
    }
    .body-large {
      font-size: 16px;
      line-height: 20px;
    }
    @media only screen and (min-width: 1024px) {
      .slide-wrapper {
        padding: 64px;
      }
    }

    overflow: hidden;
    will-change: transform;

    &:not(.prev):not(.next):not(.active) {
      z-index: -1;
      transform: translate3d(200%, 0, 0);
      opacity: 0;
    }

    &.prev {
      z-index: 0;
      transform: translate3d(-100%, 0, 0);
      transition: 1s $easing;
      opacity: 0;
    }

    &.active {
      z-index: 10;
      transform: translate3d(0, 0, 0);
      transition: transform 1s $easing;
      opacity: 1;
    }

    &.next {
      z-index: 5;
      transform: translate3d(100%, 0, 0);
      transition: 1s $easing;
      opacity: 0.2;
      margin-left: 2%;
    }

    @at-root #faq-wrapper.prev & {
      &:not(.prev):not(.next):not(.active) {
        transform: translate3d(-200%, 0, 0);
      }

      &.prev {
        transform: translate3d(100%, 0, 0);
        z-index: 5;
      }

      &.next {
        transform: translate3d(-100%, 0, 0);
        z-index: 15;
      }

      &.transition {
        z-index: 5;
      }
    }
  }
}

.cta-link {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  color: $yellow;
  letter-spacing: 5%;
}

body {
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0px;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}
body > div {
  // height: 100%;
  // width: 100%;
}
.flex {
  display: flex;
  flex-direction: row;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.ourSocials {
  text-align: right;
  position: absolute;
  bottom: 70px;
  right: 40px;
  color: white;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.ourTwitter {
  height: 25px;
  width: auto;
  margin-left: 10px;
  cursor: pointer;
}
.ourInsta {
  height: 25px;
  width: auto;
  margin-left: 10px;
  cursor: pointer;
}
.ourDiscord {
  height: 25px;
  width: auto;
  margin-left: 10px;
  cursor: pointer;
}
.Sequencer {
  position: relative;
  display: inline-block;
  padding: 1em;
  border-radius: $radius;
  width: 100%;
  height: auto;
}

.notes {
  list-style-type: none;
  position: absolute;
  left: -100px;
  top: 70px;
  text-align: right;
  color: white;
  line-height: 60px;
  opacity: 0.3;
}

.buttons {
  display: flex;
  padding: 0.35em 0 0.5em;

  button,
  select,
  input {
    margin: 5px;
    outline: none;
    background: lighten($dark, 10%);
    color: white;
    padding: 1em;
    font-size: 12px;
    letter-spacing: 1px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(black, 0.2);
    cursor: pointer;
    border: 2px solid transparent;

    &.active {
      color: $primary;
      border: 2px solid $primary;
    }
  }

  .select-wrapper {
    position: relative;

    span {
      position: absolute;
      color: white;
      top: -10px;
      left: 8px;
      font-size: 9px;
      letter-spacing: 1px;
      opacity: 0.3;
    }
  }

  select {
    position: relative;
    height: 42px;
    min-width: 50px;
  }
}

.bodyWrapper {
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  z-index: 400;
}

.artistName {
  font-size: 13px;
  line-height: 24px;
  width: 100%;
  text-align: left;
  font-weight: 500;
  color: white;
  margin-top: 10px;
  font-family: "Manrope", sans-serif;
  // text-transform: uppercase;
  // font-size: 20px;
  // line-height: 24px;
  // font-family: "Rubik", sans-serif;
}
.beatPackTitle {
  font-size: 36px;
  line-height: 48px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Bentham", serif;
  text-transform: uppercase;
  // font-size: 25px;
  // line-height: 30px;
  // font-family: "Rubik", sans-serif;
}

.stopBtnContainer {
  // z-index: 1200;
}

.stopBtnWrapper {
  // position: absolute;
  bottom: 0px;
  left: 20px;
}

.volumeContainer {
  // width: 20%;
  width: 100%;
}

.play-controls {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.volumeWrapper {
  // position: absolute;
  // bottom: 75px;
  // left: 33px;
  // width: 20%;
  width: 100%;
  @media only screen and (min-width: 768px) {
    max-width: 440px;
  }
  // height: 250px;
}

.song-info-wrapper {
  position: absolute;
  right: 20px;
  left: 20px;
  bottom: 32px;
  z-index: 1000000;
  @media only screen and (min-width: 768px) {
    left: 64px;
    right: 64px;
  }
}

.song-info-container {
  margin-top: 16px;
  display: block;
  justify-content: space-between;
  @media only screen and (min-width: 768px) {
    display: flex;
  }
}

.song-details {
  order: 1;
  margin-top: 16px;

  .beatPackTitle {
    font-size: 28px;
    line-height: 32px;
  }
  .artistName {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  @media only screen and (min-width: 768px) {
    .beatPackTitle {
      font-size: 38px;
      line-height: 44px;
    }
    .artistName {
      text-align: left;
    }
  }
}

.record-container {
  opacity: 0;
    order: 2;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wordLogo {
  font-size: 24px;
  color: #8f8f8a;
  text-transform: uppercase;
  font-family: "Bentham", serif;
  /* margin-top: 100px; */
  opacity: 0;
  transform: none;
  margin-top: 0px;
  margin-left: 0px;
  width: 100%;
  text-align: center;
  @media only screen and (min-width: 768px) {
    margin-left: -64px;
    margin-top: 100px;
    transform: rotate(-90deg);
    width: auto;
  }
}
input[type="range"] {
  width: 85%;
  -webkit-appearance: none;
  height: 5px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}

#volumeNum {
  background-color: #ffd901;
  height: 40px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.container {
  // height: -webkit-calc(100% - #{$footer-height});
  // height:    -moz-calc(100% - #{$footer-height});
  // height:         calc(100% - #{$footer-height});
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // overflow: hidden;
  // overflow-y:visible;
  scroll-snap-align: start;
}

#wrapper {
  background: #1f1f1f;
}

.content-container {
  box-sizing: border-box;
  padding: 32px;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &.small {
    max-width: 680px;
  }
  &.mobile-justify-top {
    @media only screen and (max-width: 768px) {
      justify-content: start;
    }
  }
  &.mobile-justify-bottom {
    @media only screen and (max-width: 768px) {
      justify-content: flex-end;
    }
  }
}

.container2 {
  background: #1f1f1f;
  z-index: 1;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.container3 {
  min-height: 100vh;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1f1f1f;
  scroll-snap-align: start;
}
.expand {
  width: 20px;
}
.expandOuter {
  width: 50px !important;
  height: 50px !important;
  z-index: 1200 !important;
  color: white !important;
}
.gridTop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  z-index: 10000;
}
.gridTop > div {
  position: relative !important;
}
.gridOuter {
  width: 370px;
  font-size: 0;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  // position: relative;
  // left: 185px;
  position: absolute;
  left: 50vw;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg) scale(0.9);
  transform: translateX(-50%) translateY(-50%) rotate(45deg) scale(0.9);
  margin-top: 210px;
  z-index: 1200;
}
canvas {
  // border-bottom: solid 1px white;
  margin-bottom: -8px;
}
.tutorialStep {
}
.tutorialFormatting {
}
.tutorialFormatting.tutorialInfo {
  margin-top: -60px;
}
.tutorialInfo {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 1200;
  line-height: 20px;
}
.currentBid {
  font-size: 20px;
  margin-top: -130px;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 400;
  z-index: 1200;
}
.currentBid.tile25 {
  margin-top: -70px;
}
.ethAmount {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 300;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 1200;
}

.gridBox {
  box-sizing: border-box;
  width: 44px;
  height: 44px;
  display: inline-block;
  margin: 2px;
  pointer-events: auto;
  cursor: pointer;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.17);
}
.pageFooter {
  position: absolute;
  bottom: 60px;
}

.pad {
  box-sizing: border-box;
  width: 44px;
  height: 44px;

  border: 1px solid white;

  // background: lighten($dark, 10%);
  border-radius: 10px;
  // border: 1px solid rgba(0, 0, 0, 0.17);
  display: inline-block;
  cursor: pointer;
  // width: calc(#{$controller_size} / #{$steps} - 10px);
  // height: calc(#{$controller_size} / 10 - 10px);
  margin: 5px;
  background: transparent;
  //#d9d9d9;
  box-shadow: 0 0 27px 4px rgba(255, 255, 255, 0.2);
  // transition: background 10ms ease;

  &.active {
    // background: lighten($dark, 15%);
    background: white;
    box-shadow: 0 0 30px 4px rgba(255, 255, 255, 0.2);
  }

  &.on {
    transform: rotate(-90deg);
    background: white;
    box-shadow: 0 0 30px 4px rgba(255, 255, 255, 0.2);
  }
}

@media (hover: hover) and (pointer: fine) {
  .pad:hover {
    background: white;
    box-shadow: 0 0 30px 4px rgba(255, 255, 255, 0.2);
  }

  .padWhiteVersion:hover {
    background: white;
    box-shadow: 0 0 30px 4px rgba(255, 255, 255, 0.2);
  }

  .whitePad.padWhiteVersion:hover {
    background: white;
    box-shadow: 0 0 30px 4px rgba(255, 255, 255, 0.2);
  }
}

.circlePad,
.circlePad.padWhiteVersion,
.circlePad.pad {
  border-radius: 50%;
}
.padWhiteVersion {
  box-sizing: border-box;
  width: 44px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid white;

  // background: lighten($dark, 10%);

  // border: 1px solid rgba(0, 0, 0, 0.17);
  display: inline-block;
  cursor: pointer;
  // width: calc(#{$controller_size} / #{$steps} - 10px);
  // height: calc(#{$controller_size} / 10 - 10px);
  margin: 5px;
  background: #2a2a2a;
  //#d9d9d9;
  box-shadow: 0 0 27px 4px rgba(255, 255, 255, 0.2);
  // transition: background 10ms ease;

  &.active {
    // background: lighten($dark, 15%);
    background: white;
    box-shadow: 0 0 30px 4px rgba(255, 255, 255, 0.2);
  }

  &.on {
    transform: rotate(-90deg);
    background: white;
    box-shadow: 0 0 30px 4px rgba(255, 255, 255, 0.2);
  }
}
.whitePad.padWhiteVersion {
  background: rgba(217, 217, 217, 0.38);

  &.active {
    // background: lighten($dark, 15%);
    background: white;
    box-shadow: 0 0 30px 4px rgba(255, 255, 255, 0.2);
  }

  &.on {
    transform: rotate(-90deg);
    background: white;
    box-shadow: 0 0 30px 4px rgba(255, 255, 255, 0.2);
  }
}

#video-player-section {
  z-index: 1;
  overflow: visible;
  // overflow-x: hidden;
  // overflow-y: visible;
  .lily,
  .quaking-grass,
  .carnation,
  .hyacinth,
  .chrysanthemum,
  .video-container,
  .beatPackTitle,
  .artistName,
  .gridOuter,
  .play-controls {
    opacity: 0;
  }

  @media only screen and (max-width: 1280px) {
    .lily,
    .quaking-grass,
    .carnation,
    .hyacinth,
    .chrysanthemum {
    }
  }

  .lily {
    position: absolute;
    width: 40%;
    top: -33%;
    left: -10%;
    z-index: -1;
    path {
      fill: #303031;
    }
    @media only screen and (max-width: 736px) {
      width: 90%;
      left: -50%;
      top: -10%;
    }
  }

  .hyacinth {
    position: absolute;
    width: 25%;
    top: -36%;
    right: 0;
    z-index: -2;
    path {
      fill: #2a2a2a;
    }
    @media only screen and (max-width: 736px) {
      width: 90%;
      right: -50%;
      top: -50%;
    }
  }

  .carnation {
    z-index: -1;
    top: -70%;
    right: 0;
    left: 0;
    margin: 0 auto;
    path {
      fill: #252525;
    }
  }

  .chrysanthemum {
    z-index: -1;
    path {
      fill: #303031;
    }
    @media only screen and (max-width: 736px) {
      width: 100%;
      right: -33%;
      bottom: -20%;
    }
  }

  .quaking-grass {
    position: absolute;
    width: 245px;
    margin: 0 auto;
    top: -275px;
    left: 15%;
    z-index: -4;
    path {
      fill: #2a2a2a;
    }
  }

  @media only screen and (min-width: 1366px) {
    .lily {
      width: 35%;
    }

    .hyacinth {
      top: -80%;
      width: 45%;
    }

    .quaking-grass {
      top: -70%;
      width: 30%;
    }
  }

  .expandOuter {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    @media only screen and (max-width: 764px) {
      left: auto;
      right: 20px;
      margin: none;
    }
  }
}

.carnation {
  position: absolute;
  width: 30%;
}

.chrysanthemum {
  position: absolute;
  width: 50%;
  bottom: -20%;
  right: -20%;
}

#chrysanthemum-2 {
  transform: rotate(-30deg);

  path {
    fill: #252525;
  }
}

#carnation-2 {
  top: auto;
  right: -5%;
  left: auto;
  bottom: -30%;
  transform: rotate(-30deg);
  path {
    fill: #fff;
  }
  @media only screen and (max-width: 768px) {
    width: 90%;
    right: -60%;
    bottom: -20%;
  }
}

#carnation-3 {
  top: auto;
  right: -5%;
  left: auto;
  bottom: -10%;
  transform: rotate(-30deg);

  path {
    fill: #262626;
  }
  @media only screen and (max-width: 768px) {
    width: 80%;
  }
}

#loading-flower {
  width: 234px;
  height: 211px;
  // position: static !important;
  position: absolute;
  transform: translate(-50%, -50%) scale(1.25);
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%;
}

#loading-spinner {
  position: relative;
  // border-width: 1px;
  // border-color: gray;
  // border-style:solid;
  // border-radius: 50%;
  height: 330px;
  width: 330px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.monstera-leaf {
  position: absolute;
}

.tulip {
  opacity: 0;
  position: absolute;
  width: 30%;
  left: -1%;
  top: 0;
  @media only screen and (max-width: 768px) {
    width: 45%;
    top: 0%;
  }
}

#leaf-1 {
  opacity: 0;
  bottom: 0%;
  right: 10%;
  width: 50%;
  transform: rotate(-10deg);

  @media only screen and (min-width: 1024px) {
    top: 50%;
    transform: translateY(-50%) rotate(-10deg);
    right: 10%;
    width: 25%;
  }
}
#leaf-2 {
  opacity: 0;
  top: 30%;
  transform: rotate(-5deg);
  right: -30%;
  width: 80%;

  @media only screen and (min-width: 1024px) {
    top: 0;
    transform: rotate(-5deg);
    right: -10%;
    width: 40%;
  }

  .leaf-fill {
    fill: #353535;
  }
}

#leaf-3 {
  opacity: 0;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  left: -10%;
  width: 35%;
  .leaf-fill {
    fill: #353535;
  }
  @media only screen and (max-width: 768px) {
    width: 60%;
    top: 20%;
    left: -20%;
  }
}

#main-flower {
  opacity: 0;
  position: absolute;
  bottom: -20%;
  width: 80%;
  left: 0%;

  path {
    fill: #fff;
  }
  @media only screen and (min-width: 768px) {
    position: relative;
    width: 25%;
    bottom: auto;
    left: auto;
    .svg-container {
      margin-top: 75%;
    }
  }
}
#hyacinth-2 {
  opacity: 0;
  position: absolute;
  width: 50%;
  top: -5%;
  left: -10%;
  opacity: 0;
  transform: rotate(45deg);
  // filter: blur(2px);
  path {
    fill: #2a2a2b;
  }
}

#hyacinth-3 {
  opacity: 0;
  position: absolute;
  width: 40%;
  top: 10%;
  right: -10%;
  transform: rotate(-30deg);

  path {
    fill: #262626;
  }
}

#hyacinth-4 {
  opacity: 0;
  position: absolute;
  width: 45%;
  bottom: -70%;
  left: -20%;
  transform: rotate(200deg);

  path {
    fill: #262626;
  }
}

#hyacinth-5 {
  position: absolute;
  width: 45%;
  left: -5%;
  top: 20%;
  opacity: 0;
  transform: rotate(130deg);

  path {
    fill: #2a2a2a;
  }
}

.section[data-slideindex="2"] {
  .content-container {
    align-items: center;
  }
}

.animated-content {
  opacity: 0;
}

.svg-container {
  display: inline-block;
  // position: relative;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
  pointer-events: none;
}

.svg {
  overflow: visible;
  width: 100%;
  height: auto;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.video-container {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media only screen and (max-width: 700px) {
    height: 60%;
    top: 30%;
    transform: translate(-50%, -30%);
    &.opensea {
      height: 100%;
      background-color: #1f1f1f;
    }
  }
}

.waterLoopVideo {
  display: inline-block;
  position: relative;
  max-width: 100%;
  height: 100%;
  z-index: 100;
  filter: brightness(40%);
  border-radius: 8px;
}

.waterLoopVideo source {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.waterLoopVideo:after {
  content: "";
  display: block;
  margin-top: 75%;
}

.volumeMeter {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 67%;
  margin-left: 33%;
  z-index: 100000;
  pointer-events: none;
  -ms-overflow-style: none;
  canvas {
    height: 30vw;
    width: 100vw;
  }

  @media only screen and (max-width: 700px) {
    width: 100%;
    margin-left: 0;
  }
}

.modifiedPad {
  box-sizing: border-box;
  width: 12.5%;
  height: 4px;
  background: transparent;
  // background: #1f1f1f;

  display: inline-block;
  cursor: pointer;
  // width: calc(#{$controller_size} / #{$steps} - 10px);
  // height: calc(#{$controller_size} / 10 - 10px);

  transition: background 100ms ease;

  &:hover {
    background: lighten($dark, 15%);
  }

  &.active {
    background: white;
  }

  &.on {
    background: white;
    box-shadow: 0 0 12px 0 rgba($primary, 0.8);
  }
}
.privacyAndTos {
  text-align: left;
  position: absolute;
  bottom: 70px;
  left: 40px;
  color: #999999;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.privacyAndTos > a {
  margin-right: 20px;
}
.nftDetails {
  font-size: 14px;
  color: white;
  text-align: left;
  margin-top: 20px;
  display: block;
  /* display: none; */
  max-width: 370px;
}

.hidden {
  display: none;
}

.details {
  margin-top: 16px;
}

.question {
  font-size: 26px;
  color: lightgoldenrodyellow;
  text-align: left;
  margin-top: 20px;
}

.fakePad {
  box-sizing: border-box;
  width: 44px;
  height: 44px;
  background: red;
  border-radius: $radius;
  border: 1px solid rgba(0, 0, 0, 0.17);
  display: inline-block;
  cursor: pointer;
  // width: calc(#{$controller_size} / #{$steps} - 10px);
  // height: calc(#{$controller_size} / 10 - 10px);
  margin: 5px;
  box-shadow: 0 1px 3px 0 rgba(black, 0.3);
  transition: background 100ms ease;

  &:hover {
    background: lighten($dark, 15%);
  }

  &.active {
    background: lighten($dark, 15%);
  }

  &.on {
    background: $primary !important;
    box-shadow: 0 0 12px 0 rgba($primary, 0.8);
  }
}

@keyframes blinkBlue {
  50% {
    background: $primary;
  }
}
@-webkit-keyframes blinkBlue {
  50% {
    background: $primary;
  }
}
.blinkBlue {
  animation: blinkBlue 1s step-start 0s infinite;
  -webkit-animation: blinkBlue 1s step-start 0s infinite;
}
@-webkit-keyframes blink {
  0% {
    background: white;
  }
  50% {
    background: transparent;
  }
  100% {
    background: white;
  }
}
@keyframes blink {
  0% {
    background: white;
  }
  50% {
    background: transparent;
  }
  100% {
    background: white;
  }
}
@-webkit-keyframes blinkWhite {
  0% {
    background: white;
  }
  50% {
    background: rgba(217, 217, 217, 0.38);
  }
  100% {
    background: white;
  }
}
@keyframes blinkWhite {
  0% {
    background: white;
  }
  50% {
    background: rgba(217, 217, 217, 0.38);
  }
  100% {
    background: white;
  }
}

.blink.pad {
  -webkit-animation: blink 0.5s ease-in-out 0s infinite;
  animation: blink 0.5s ease-in-out 0s infinite;
}
.blink.padWhiteVersion {
  -webkit-animation: blinkWhite 0.5s ease-in-out 0s infinite;
  animation: blinkWhite 0.5s ease-in-out 0s infinite;
}

// .pads {
//   box-sizing: border-radius;
//   display: flex;
//   flex-direction: column-reverse;
//   flex-wrap: wrap;

//   .pad {
//     background: lighten($dark, 10%);
//     border-radius: $radius;
//     cursor: pointer;
//     width: calc(#{$controller_size} / #{$steps} - 10px);
//     height: calc(#{$controller_size} / 10 - 10px);
//     margin: 5px;
//     box-shadow: 0 1px 3px 0 rgba(black, 0.3);
//     transition: background 100ms ease;

//     &:hover {
//       background: lighten($dark, 15%);
//     }

//     &.active {
//       background: lighten($dark, 15%);
//     }

//     &.on {
//       background: $primary !important;
//       box-shadow: 0 0 12px 0 rgba($primary, 0.8);
//     }
//   }
// }

@keyframes colorize {
  from {
    background: hsla(0, 100%, 50%, 1);
  }
  to {
    background: hsla(100%, 100%, 50%, 1);
  }
}
a {
  text-decoration: none;
  color: lightblue;
}
footer {
  margin-top: 2em;
  color: rgba(white, 0.6);
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: center;

  a {
    color: white;
    font-weight: 400;
    border-bottom: 1px dotted;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid;
    }
  }
}



.navBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  padding: 30px 80px;
  box-sizing: border-box;
  position: fixed;
  z-index: 5000;
  /* background-color: #1f1f1f; */
  background-color: transparent;
}
.navBar.white {
  background-color: #f2f2f2;
}
.scrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollBar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.logo {
  width: 140px;
  height: auto;
}


.signedInWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wallet {
  width: 19px;
  height: 13px;
}

.navBar.white > .signedInWrapper > .walletOuter > .walletAmount {
  color: #222222;
}
.navBar.white > .signedInWrapper > .walletOuter {
  border: solid 1px #222222;
}
.navBar.white > .signedInWrapper > a > .userName {
  color: #222222;
}
.navBar.white > .walletText {
  color: #1f1f1f;
}
.walletAmount {
  font-size: 12px;
  color: white;
}
.walletOuter {
  border: solid 1px white;
  border-radius: 15px;
  width: 153px;
  max-width: 153px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  transform: scale(0.8);
}
.userName {
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  color: white;
  margin-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.timer.white > div {
  color: #222222;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.timerWrapper {
  z-index: 5001;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: fixed;
  margin-left: 18px;
  margin-top: 80px;
}
.time {
  font-size: 20px;
  line-height: 24px;
  color: white;
}
.nextText {
  margin-top: 3px;
  font-size: 14px;
  color: white;
}
.walletText {
  font-size: 16px;
  line-height: 19px;
  color: white;
}

#mint-date {
  opacity: 0;
}
@media only screen and (max-width: 1100px) {
  .timer {
    display: none;
  }
  .navBar {
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 700px) {
  .signedInWrapper {
    display: none;
  }
  .navBar {
    padding: 20px 40px;
    display: block;
    text-align: center;
  }
}
@media only screen and (max-width: 400px) {
  .navBar {
    padding: 20px 20px;
  }
  .logo {
    width: 100px;
  }
}

.albumWrapper {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  transform: scale(0.8);
}
.albumPicWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.gridOuter.tile25 {
  width: 270px;
  font-size: 0;
  // -webkit-transform-origin: 50% 50%;
  // transform-origin: 50% 50%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  // margin-top: 250px;
  margin-top: 0;
  z-index: 1200;
  @media only screen and (max-width: 700px) {
    top: 30%;
    transform: translate(-50%, -30%) rotate(45deg) scale(0.9);
  }
}

.gridOuter.tile36 {
  font-size: 0;
  width: 324px;
  // -webkit-transform-origin: 50% 50%;
  // transform-origin: 50% 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  position: relative;
  // left: 190px;
  // margin-top: 300px;
  @media only screen and (max-width: 700px) {
    top: 30%;
    transform: translate(-50%, -30%) rotate(45deg) scale(0.9);
  }
  margin-top: 0px;
  left: 50%;
  top: 50%;
  z-index: 1200;
}

.albumPic {
  height: 145px;
  width: 145px;
}
.albumInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 30px;
}
.artistInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.instaPic {
  width: 34px;
  height: 34px;
  margin-right: 11px;
}
.artistTag {
  color: white;
  font-size: 14px;
}
.packTitle {
  margin-top: 16px;
}
.section-intro-text {
  font-family: "Bentham", serif;
  font-size: 17px;
  color: #aaaaa1;
  text-align: left;
}

.metamask-button {
  background: transparent;
  color: $yellow;
  border-color: $yellow;
  border-width: 1px;
  border-style: solid;
  border-radius: 50px;
  text-transform: uppercase;
  padding: 20px 28px;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  line-height: 16px;
  &.disconnect {
    padding: 0px;
   border-width: 0px;
   color: $error !important;
 }
}

.cta-button {
  background-color: $yellow;
  color: black;
  border-color: $yellow;
  border-width: 1px;
  border-style: solid;
  border-radius: 50px;
  text-transform: uppercase;
  padding: 20px 28px;
  font-size: 16px;
  line-height: 16px;
}

.cta-button:disabled, .cta-button[disabled] {
  opacity: 0.25;
}

.modal-header {

}
.bidInfoWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 50px;
  color: white;
}
.bidItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.bidTitle {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
}
.bidInfo {
  margin-top: 15px;
  font-size: 16px;
  text-align: left;
}
.bidItem.right {
  margin-left: 65px;
}
.offerButton {
  background: #ffffff !important;
  font-family: "Rubik", sans-serif !important;
  font-size: 16px !important;
  color: #000000 !important;
  letter-spacing: 0 !important;
  text-align: center !important;
  width: 209px !important;
  height: 41px !important;
  border-radius: 0px !important;
  text-transform: none !important;
  font-weight: 400 !important;
  letter-spacing: 1px !important;
  margin-top: 30px !important;
}
.historyWrapper {
  margin-top: 70px;
  border-top: solid 1px white;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  justify-content: flex-start;
}
.auctionTitle {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
}
.auctionPrices {
  width: 100%;

  overflow: scroll;
}
.auctionPrices > tr > td {
  color: white;
  text-align: left;
  font-size: 14px;
  padding-bottom: 15px;
}
.auctionPrices > tr > th {
  color: white;
  text-align: left;
  color: #999999;
  font-size: 14px;
  padding-bottom: 20px;
}
.auctionPrices > tbody {
  height: 30px;
  display: block;
}

.tableWrapper {
  max-height: 150px;
  overflow: scroll;
  width: 100%;
  margin-top: 17px;
}
.scrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollBar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.makeOfferText {
  width: 100%;
  font-size: 10px;
  color: #999999;
  margin-top: 15px;
  z-index: 1200;
  font-family: "Rubik", sans-serif;
}
.makerAddr {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.bidOnDesktop {
  display: none;
}
.tutorialPad {
  opacity: 0.1;
}
.tutorialPad.on {
  opacity: 1;
}

.button {
  position: relative;
  border-radius: 5px;
  // font-size: 16px;
  color: black;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

.button:hover {
  transition-duration: 0.1s;
  background-color: #727272;
}

.button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 5px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 10px white;
}

.button:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 5px;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.button.record {
  background: rgba(255, 255, 255, 0.25);
  /* Background Blur S */
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 99px;
  color: white;
  text-transform: uppercase;
    display: flex;
    gap: 8px;
    padding: 8px 14px 8px 12px;
    width: auto;
    height: auto;
    border: none;
    .circle {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: white;

    }

}


@media only screen and (max-width: 700px) {
  .albumPicWrapper {
    display: none;
  }
  .offerButton {
    display: none !important;
  }
  .bidOnDesktop {
    font-size: 14px;
    color: white;
    text-align: left;
    margin-top: 20px;
    display: block;
  }
  .albumWrapper {
    transform: scale(0.75);
  }
  .tutorialInfo {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
  .volumeWrapper {
    // bottom: -10px;
  }
}

@media only screen and (max-width: 508px) {
  .stopBtnWrapper {
    // position: absolute;
    // bottom: -8px;
    // left: 8px;
  }

  .volumeContainer {
    // width: 15%;
  }

  .volumeWrapper {
    // position: absolute;
    // width: 20%;
    // left: 13px;
  }
}

@media only screen and (max-width: 414px) {
  .privacyAndTos {
    display: none;
  }
  .walletText {
    display: none;
  }
  .albumWrapper {
    transform: scale(0.6);
  }
  .tutorialInfo.tutorialFormatting {
    font-size: 10px;
    margin-top: -120px;
  }
  .beatPackTitle {
    font-size: 18px;
    line-height: 23px;
    margin-top: 0px;
  }
  .bidOnDesktop {
    font-size: 14px;
    color: white;
    text-align: left;
    margin-top: 20px;
    display: block;
  }
  .artistName {
    font-size: 16px;
    line-height: 20px;
  }

  .currentBid.tile25 {
    font-size: 14px;
    margin-top: -120px;
  }

  .ethAmount {
    font-size: 12px;
  }

  .learnMore {
    position: "absolute";
    bottom: "110px";
  }

  .makeOfferText {
    font-size: 10px;
  }

  .scrollSnap {
    scroll-snap-type: y mandatory;
  }

  .stopBtnWrapper {
    // position: absolute;
    // bottom: -4px;
    // left: 10px;
  }

  .volumeContainer {
    width: 50%;
  }

  .volumeWrapper {
    // position: absolute;
    // width: 30%;
    // left: 70px;
  }
}

.bottomNav {
  width: 100%;
  height: $footer-height;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* padding: 20px 80px; */
  padding: 0px 64px 0px 64px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0px;
  border-top: solid 1px white;
  background-color: #1f1f1f;
  z-index: 10000;
}
.bottomNav.white {
  background-color: #f2f2f2;
  border-top: solid 1px #222222;
}
.bottomNav.white > a > .bottomItem {
  color: #222222;
}
.bottomNav.white > .bottomItem {
  color: #222222;
}

.bottomItem {
  font-size: 12px;
  color: white;
  cursor: pointer;
  width: 125px;

  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;
}
.scrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollBar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
a {
  text-decoration: none;
}
.button {
  width: 125px;
  border-radius: 5px;
  height: 33px;
}

@media only screen and (max-width: 800px) {
  .notMobileLink {
    display: none;
  }
  .bottomNav {
    padding: 20px 20px;
  }
}
@media only screen and (max-width: 400px) {
  .notMobileLink {
    display: none;
  }
  .bottomNav {
    padding: 20px 20px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
